   <div class="post-list" id="{{comment.id}}"></div>
  
  
    <div id="created-by"> Posted by {{user.name}} on {{format_date date_created}}</span>
    
    <div class="comment-content">
      <span>{{comment_text}}</span>
    </div>