

{{>post-content}}


    
    <div class="card">
  <h6 class="card-header">Comment</h6>
  <div class="card-body">
    <p class="card-text comment-text">{{comment_text}}</p>
    <p class="card-text">-{{comment_text.user.name}}, {{format_date comment.date_created}}</p>
  </div>
</div>

<form class="comment-form">
  <div class="post-comment">
       <textarea type="text" class="form-control comment-content" placeholder="Comment Here" id="floatingTextarea2" style="height: 100px"></textarea>
    </div>

      
      <div>
        <input type="hidden" value="{{id}}" id="post-id">
        <button class="btn btn-primary dataId comment-btn " value="Add Comment" type="submit" >Add Comment
    </button>
</form>





<script src="/js/comment.js"></script>
{{!-- <script src="/js/edit.js"></script> --}}
