<!-- Loop over each object in the projects array -->
<ul class= "postList">
{{#each post as |post| }}
<div>
  {{>comment-content}}
</div>
<div>
 <a class="btn btn-primary" href="/post/{{id}}" role="button">Comment</a>
 </div>
{{/each}}

</ul>
