
<div class="container">
<div class="row">
      <h2>Sign Up</h2>

<form class="signup-form">
  <div class="row mb-3">
    <label for="name" class="col-sm-2 col-form-label">
      Username
    </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="signup-name" />
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputPassword3" class="col-sm-2 col-form-label">
      Password
    </label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="signup-password" />
    </div>
    <a class="nav-link text-center" href="/login">
      Already have an account? Login Here!
    </a>
  </div>
  <button type="submit" class="btn btn-primary" id="signup-btn">
    Sign up
  </button>
</form>
</div>
</div>

<script src="/js/signup.js"></script>